{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
    <div>
        <a class="btn-clr" href="">Home</a>
        <a class="btn-clr" href="">Contact</a>
        <a class="btn-clr" href="">About</a>
        <a class="btn-clr" href="">Help</a>
    </div>
    <hr>
    <img height="100" src="{% static 'images/raman_sir.jpg' %}" alt="" >
    <hr>

    <div>
        <h1 class="clg-name">SRINIVASA RAMANUJAN INSTITUTE OF TECHNOLOGY</h1>
    </div>
    <hr>
</body>
</html>